/* Background dan pengaturan body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bl.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form container dengan efek blur */
.form-container {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Judul */
h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Input dan button */
#task-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#add-task-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-task-btn:hover {
    background-color: #218838;
}

/* Button Active */
.btn-active {
    background-color: #28a745; /* Hijau */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-active:hover {
    background-color: #218838;
}

/* Button all */
.btn-all {
    background-color: #ffffff; /* Hijau */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-all:hover {
    background-color: #cecece;
}

/* Button Complete */
.btn-complete {
    background-color: #007bff; /* Biru */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-complete:hover {
    background-color: #0056b3;
}

/* Button Delete */
.task-list-delete {
    background-color: #dc3545; /* Merah */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-delete:hover {
    background-color: #c82333;
}

/* Daftar task */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li.completed {
    text-decoration: line-through;
}

button {
    margin-left: 10px;
    padding: 5px;
}
